.fucker {
  display: block;
  color: #fff;
  text-align: left;
  border: 1px solid #fff;
  position: relative;
  font-family: sans-serif;
  inbetween: fucker;
}

div.fat {
  position: absolute;
  display: block;
}

h1,
.foo h2#ded,
h3.mdo {
  overflow: hidden;
}
